/* Set the container for the cubes to be a flex container */
html, body {
    height:100%; 
    margin:0; 
    padding:0;
    background-color:#212121;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.cubes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position:relative;
    max-height:100%;
    min-height:100%;
    height:auto;
    margin: 0 auto;
    bottom:0;
}
   
   /* Set the dimensions of the cubes */
   .cube {
    position: relative;
    width: 11vw;
    height: 10.67vh;
    line-height: 100%;
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    bottom:0;
    color:#fff;
    background: linear-gradient(135deg, #333, #000, #333, #000, #333);
    background-size: 400% 400%;
    animation: pulsatingGradient 32s alternate infinite;
}

@keyframes pulsatingGradient {
    0% {
        background-position: 0% 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

   a{
    color:#fff;
   }
   /* Set the spacing of the cubes */
   @media (min-width: 768px) {
    .cube {
      margin: 20px;
    }
   }
   
   @media (min-width: 1024px) {
    .cube {
      margin: 30px;
    }
   }
   
   @media (min-width: 1280px) {
    .cube {
      margin: 40px;
    }
   }

   /* Hide the default UI close button */
.ui-dialog .ui-dialog-titlebar .ui-button {
    display: none;
}

/* Style the custom close button */
.ui-dialog .ui-dialog-titlebar .custom-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    font-size: 16px;
}

/* Style the custom close button on hover */
.ui-dialog .ui-dialog-titlebar .custom-close-button:hover {
    color: red;
}
   .modal {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    max-width: 80%; /* Control the maximum width here */
    background-color: grey;
    padding: 0px;
    border-radius: 10px;
    text-align: center;
    z-index: 999;
    height:50vh;
    display: none;
   }
   .modal-form {
    text-align: center;
}

   .modal.show {
    display: block;
    opacity: 1;
   }

   #dialog > div{
    min-height:420px;
    width:80%;
   }
   .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
    margin-bottom:15px;
   }
   .ui-dialog .ui-dialog-content{
    min-height:420px!important;
    top:220px;
    background-color:#212121;
   }
   body > div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable{
    min-height:420px;
    background-color:#212121;
   }
   .ui-widget-content{
    background:#212121!important;
    color:#fff!important;
   }
   .ui-dialog .ui-dialog-buttonpane{
    border-width:0px;
   }
   .ui-widget-header{
    color:#fff!important;
    background:#212121!important;
   }
   .ui-widget-overlay{
    display:none!important;
   }


        /* Style for the modal content */
        .modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%;
            height: 80%;
            transform: translate(-50%, -50%);
            background: #212121;
            padding: 20px;
            z-index: 1001; /* Place it above the overlay */
        }

        /* Style for the close button */
        .modal-close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            color:#fff;
            font-size:36px;
        }

        .ui-dialog-buttonpane{display:none;}

        .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
            background-color: transparent;
            border: 1px solid #fff; /* Add a border for visibility */
            color: #fff; /* Text color */
            padding: 3px 5px; /* Padding for the button */
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 36px;
            cursor: pointer;
            border-radius: 4px; /* Rounded corners, if desired */
            font-family:'Segoe UI';
        }

        #\<\?php\ echo\ \$openDialogID\;\ \?\> {
            background-color: transparent;
            border: 0px solid #fff; /* Add a border for visibility */
            padding: 3px 5px; /* Padding for the button */
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 36px;
            cursor: pointer;
            border-radius: 4px; /* Rounded corners, if desired */
            font-family:'Segoe UI';
            color:#fff;

        }

        #\<\?php\ echo\ \$openDialogID\;\ \?\>:hover {
            font-size: 1.2em; /* Adjust the size as needed */
            transition: font-size 0.3s; /* Add a smooth transition effect */
        }

            /* CSS for red outline when the note is empty */
           .open-dialog-button.red-outline {
           outline: 1px solid red;
       }

           /* CSS for green outline when the note is not empty */
            .open-dialog-button.green-outline {
            outline: 1px solid green;
        }
        
        /* Hover effect (optional) */
        .transparent-button:hover {
            background-color: #333; /* Change background color on hover */
            color: #fff; /* Change text color on hover */
        }
        
        .install-popup {
            position: fixed;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            background: #ffffff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            padding: 10px;
            text-align: center;
            display: none; /* Initially hidden */
          }
          
          .install-popup p {
            margin: 0;
          }
          
          .install-popup button {
            margin: 5px;
          }

        /* Your existing styles */

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    align-items: center;
    justify-content: center;
    z-index:99999;
}

.loader-content {
    text-align: center;
    background: #333;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-animation: puff-in-center 2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff-in-center 2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.loader-content h1{
    font-family: 'Zen Dots', sans-serif;
    font-size:65px;
    padding-bottom:40px;
	-webkit-animation: text-focus-in 3.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 3.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.loader-content h3{
	-webkit-animation: text-focus-in 3.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 3.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

#dismiss-button {
    background: none;
    border: 1px solid #fff; /* Add a border for visibility */
    color: #fff;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-animation: text-focus-in 3.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 3.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
